<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513066913406-hkicdd8e3eb51onco4u0e7r6vko2luba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513066913406-hkicdd8e3eb51onco4u0e7r6vko2luba</string>
	<key>API_KEY</key>
	<string>AIzaSyCYLo8i4ASSluWlysUtn533nv-06r7X6Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>513066913406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appGlosarioOclusao</string>
	<key>PROJECT_ID</key>
	<string>glossariodeoclusao</string>
	<key>STORAGE_BUCKET</key>
	<string>glossariodeoclusao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513066913406:ios:bb8d0a692bc07d9e3e522f</string>
</dict>
</plist>